* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Gothica'; 
  src: url(../Fontes/Ancient\ Medium.ttf); 
}


   

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gothica';
    font-size: larger;
    color: goldenrod;
    background-image: url(../imagens/paredearmadilha.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0%;
    
}

/* Armadilha */

.armadilha {
    width: 100%;
    max-width: 2000px;

    padding: 100px;
    margin-top: auto;
    text-align: center;
    color: green;
    
    background-image: url(../imagens/fundoDECarmadilha.png);
    background-repeat: no-repeat;       
    background-size: 70%;
    background-position: 50% 40%;
    
    
   
}

.armadilha h1 {
    margin: 0 0 20px;

    font-size: 100px;
}

.armadilha form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7px;
    flex-wrap: wrap;
}

.armadilha button {
    min-width: 150px;

    padding: 14px 20px;

    background-color: #333;
    color: white;

    border: 1px solid #666;
    border-radius: 8px;

    font-family: "Gothica";
    font-size: 25px;


    cursor: pointer;

    transition: 0.2s;
}

.armadilha button:hover {
    background-color: #444;
    transform: translateY(-2px);
}

.armadilha button:active {
    transform: translateY(0);
}


/* Resultado */

.resultado {
    width: 90%;
    max-width: 700px;

    padding: 40px;

    text-align: center;

    background-color: #292929;

    border: 2px solid #555;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.resultado h1 {
    margin: 0 0 15px;
    
    font-size: 70px;
    color: white;
}

.resultado p {
    margin: 0;

    color: #ccc;
    font-size: 28px;
}